@import './../../variables';

.button {
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  outline: none;
}
.button-cta {
  background-color: $color-secondary;
  color: $color-white;

  &:hover {
    background-color: $color-secondary-light;
  }
}
