@import './../../variables';
.input-select {
  display: inline-block;
  outline: none;
  background-color: $color-white;
  border: none;
  border-bottom: 2px solid $color-primary;
  padding: 0.4rem;
  font-size: 1.2rem;
  width: 5rem;
}

